.green_text {
    color: green;
}

.bold_text {
    font-weight: bold;
}

.load_successful_text{
    background-color: green;
    color:white;
    border-radius: 0.4em;
    padding: 0.5rem;
    font-weight: bold;
}

.button {
    border: 1px solid #4CAF50;
    background-color:white;
    border-radius:2;
    color: #000;
    padding: 10px, 30px;
    text-align: center;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50;
    color: #fff;
}